body{
    margin: 0;

}
#homePage ul,li{
    padding: 0;
    margin: 0;
    list-style: none;
}
#homePage p{
    margin: 0;
}
#homePage h3{
    margin: 0;
    text-align: center;
    font-size: 16px;
    padding: 10px 0;
}
#homePage .top{
    position: relative;
    width: 100%;
    height: 270px;
    overflow: hidden;
}
#homePage .top .content{

    z-index: 1;

}
#homePage .top .content p{
    font-size: 16px;
}
#homePage .top .content p.commen{
    position: absolute;
    color:#2c8111 ;
   top:5px;
    left: 5px;
}
#homePage .top .content p.kwen{
    position: absolute;
    top:91px;
    left: 171px;
    width: 100%;
    color: #000;
}
#homePage .top .content #kwen{
    position: absolute;
    left: 175px;
    top:25px;
}
#hwen{
    position: absolute;
    left: 5px;
    top:1.2px;
}
#homePage .top .content p.hwen{
    position: absolute;
    top:135px;
    left: 240px;
    color: #000;

    width: 100%;
}
#homePage .top .content p.time{
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 100%;
    text-align: right;
    padding-right:5px;
    color: #000;
}
#homePage .top img{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    z-index: 0;
}
#homePage .list{

    border-top: 1px solid #ccc;
    background: #000;

}
#homePage .list li{
    padding: 20px 0;
    box-sizing: border-box;
    font-size: 15px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
#homePage .list li p span{
    font-size: 15px;
}
#homePage .list li span{
    margin: 10px 0;
    font-size:27px;
}
#homePage .list li span.icon1{
    color: #93c8fe;
}
#homePage .list li span.icon13{
    color: #f6eab1;
}
#homePage .list li span.icon15{
    color: #f6382a;
}

#homePage .list li span.icon2{
    color: #2a7b1f;
}
#homePage .list li span.icon3{
    color: #f73f3f;
}
#homePage .list li span.icon4{
    color: #2a7b1f;
}
#homePage .list li span.icon5{
    color: #7c7c7c;
}
#homePage .list li span.icon6{
    color: #8fd1ed;
}
#homePage .list li:nth-child(3n+1){
    border-left: none;
}
#homePage .list li img{
    margin: 10px 0;
    width: 24px;
}
#homePage .list{
    display: flex;
    flex-wrap: wrap;

}
#homePage .list li{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 33.3%;
}